RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css|csv|ttf|woff|images|less)
RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]


RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^ticket/(.*)?$ ticket.php?id=$1

php_flag safe_mode On


php_value session.use_only_cookies 1
php_value session.use_trans_sid 0
